input
{
font-family: inherit;
}
.admin-gift-table .form-field input {
	width:80%;
}
.admin-gift-table .form-field textarea {
	float:right;
	width:80%;
}
.required {color: #c0392b }
#admin-gift-registry
 {
border: 1px solid rgba(0,0,0,.1);
margin: 0 -1px 24px 0;
text-align: left;
width: 100%;
border-collapse: separate;
-webkit-border-radius: 5px;
border-radius: 5px;
background:#fff;

text-shadow: none;
}

.hidden {
    display: none;
}


.woocommerce-message::before {
    color: #8fae1b;

}
.radios-type input[type=radio] {
	    width: 1%;
	    font-family: inherit;
}

.radios-type .radio{
    display: inline-block;
    border: 2px solid #69c7ee;
    width: 49%;
    padding: 9px 0px !important;
    margin: 0px !important;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.radios-type input[type=radio]{
    display:none;
    
}

.radios-type input[type=radio]:checked + .radio{
    background-color:#69c7ee;
	    color: white;
	    font-family: Arial, Helvetica, sans-serif;
}
#msform {
	width: 100%;
	margin: 0px auto;
	text-align: center;
	position: relative;
	font-family: inherit;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-sizing: border-box;
	width: 100%;
	font-family: inherit;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 8px;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 15px;
	font-family: inherit;
}
/*buttons*/
#msform .action-button {
	width: auto;
	background: #69c7ee;
	font-weight: bold;
	color: white;
	border: 2px white solid !important;
	text-transform: uppercase !important;
	font-size: 14px !important;
	/*border-radius: 1px; */
	cursor: pointer;
	padding: 10px 15px;
	margin: 10px 5px;
	line-height: 15px;
	max-width: 100%;
	font-family: Arial, Helvetica, sans-serif !important;
}

/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
	font-family: inherit;
	font-family: inherit;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
	font-family: inherit;
}
/*progressbar*/
#progressbar {
	margin-bottom: 0px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
	font-family: inherit;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 20%;
	float: left;
	position: relative;
	font-family: inherit;
	    cursor: pointer;
}
#progressbar li:before {
	    content: counter(step);
    counter-increment: step;
    width: 65px;
    line-height: 60px;
    display: block;
    font-size: 50px;
    color: #ddd;
    background: white;
    border-radius: 100px;
    margin: 0 auto 5px auto;
	border: 2px solid #69c7ee;
	font-family: inherit;
}
/*progressbar connectors*/
#progressbar li:after {
content: '';
    width: 65%;
    height: 2px;
    background: #ddd;
    position: absolute;
    left: -33%;
    top: 45px;
    z-index: -1; /*put it behind the numbers*/
    font-family: inherit;
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
	font-family: inherit;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #69c7ee;
	/*background: #1aada3; */
	color: white;
	font-family: inherit;
}

span.text{
    position: absolute;
    top: 0%;
    margin: 5% 15%;
    text-align: left;
    font-size: 15px;
    width: 50%;
	color: #ddd;
	font-family: inherit;
}
#progressbar li:last-child:before {
content: none;
font-family: inherit;
}
#progressbar li.active + li:after {

    background: #69c7ee;
    color: white;
    font-family: inherit;
}
#progressbar li.active span.text{
	color: #69c7ee;
	font-family: inherit;
}
label{
	text-align:left;
	color: #1aada3;
	font-size: 12px;
	font-weight: bold;
	font-family: inherit;
}
	span.required
{
	    visibility: hidden;
	    font-family: inherit;
}
.woocommerce label
{
color: #1B1919;
font-family: inherit;
}

.woocommerce .button
{
  /*background-color: white !important;
    border: 2px solid #000 !important;
    color: #333 !important; */
    font-family: inherit;
 
}

.woocommerce .button:hover
{
    background-color: #333 !important;
    border-color: #333 !important;
    color: #fff !important;
    font-family: inherit;
 
}
.woocommerce .lost_password {
    margin-bottom: -23px;
    text-align: right;
    font-family: inherit;
}

.woocommerce input#rememberme {
    width: 5% !important;
    margin-right: 5px;
    vertical-align: middle;
    margin-top: 0;
    margin: 0px 0 0;
    font-family: inherit;
}
.woocommerce .col-register-text
{
    float: left !important;
    font-family: inherit;
}
.woocommerce .lost_password>a:before {
    content: "\e056";
    margin-right: 7px;
    vertical-align: middle;
    font-family: inherit;
    
}
a#add-to-registry
{
    background-color: #1aada3 !important;
    color: white !important;
    border: 2px solid #1aada3 !important;
    font-family: inherit;
}
div.add-gift-registry
{
    display: inline-block !important;
    font-family: inherit;
}
label > input.styled_radio {
    visibility: hidden;
    position: absolute;
}

label > input.styled_radio + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input.styled_radio:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #1aada3;
}
body.page-id-385  div.page-title
{
	display: none;
}

body.page-id-385  div.header-spacing
{
	margin-bottom: 0px !important;
}

body.page-id-385 .container
{
	width:100%;
}
body.page-id-7812 .container
{
	width:100%;
}
.registry-header-wrapper-1 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
registry.1485351105.css:1
.registry-header-wrapper {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.registry-header {
    height: 270px;
    margin: 0 auto;
    padding-top: 80px;
    width: 100%;
    text-align: center;
    position: relative;
}
.group:before, .group:after {
    content: " ";
    display: table;
    visibility: hidden;
    height: 0;
}
.registry-header small {
    color: #fff;
    font-size: 0.8751em;
    text-transform: uppercase;
}
.registry-header h1 {
    background: rgba(0,0,0,0.6);
    color: #fff;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 2.625em;
    font-style: italic;
    font-weight: normal;
    margin: 0;
    padding: 14px 25px 20px;
    display: inline-block;
    position: relative;
    width: auto;
}
.registry-header__date {
    background: #7bb1c5;
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
    display: inline-block;
    margin: -5px 0 0;
    padding: 5px 20px 3px;
    position: relative;
}
.registry-header .avatar {
    border: 5px solid #fff;
	margin-top: 0.5%;
	margin-left: 0px !important;
}
.avatar {
    background-color: #fff;
    border-radius: 9999em;
    box-sizing: border-box;
    background-clip: border-box;
}

.guest-greeting {
    padding: 8% 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
p.registry-link {
    color: #00afd1;
    font-family: Helvetica,"Helvetica Neue",Arial,sans-serif;
    font-size: 1em;
    font-style: normal;
    margin-bottom: 1.75em;
}
p.registry-link .icon--link {
    font-size: 1.125em;
    vertical-align: middle;
}
Inherited from p.registry-link
registry.1485351105.css:1
p.registry-link {
    color: #00afd1;
    font-family: Helvetica,"Helvetica Neue",Arial,sans-serif;
    font-size: 1em;
    font-style: normal;
    margin-bottom: 1.75em;
}
.icon--link:before {
    content: '\e81f';
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "yuppiechef-icons";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
}
.guest-greeting p {
    color: #333;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 1.125em;
    font-style: italic;
    line-height: 1.5em;
}



/*Responsive Css for registry form*/

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
{
#progressbar li {
    width: 24%;
}

#progressbar li:before {
    width: 40%;
    line-height: 24px;
	    font-size: 20px;
}
span.text {
    position: absolute;
    top: 8%;
    margin: 5% 22%;
    text-align: left;
    font-size: 9px;
    width: 50%;
    color: #ddd;
    font-family: inherit;
}
#progressbar li:after {
    content: '';
    width: 65%;
    height: 2px;
    background: #ddd;
    position: absolute;
    left: -33%;
    top: 28px;
    z-index: -1;
    font-family: inherit;
}

.register-or:before {
    margin-right: 4% !important;
}
}



/*iphone 6 */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (orientation: portrait) 
   { 
   #progressbar li:before {
    width: 40%;
    line-height: 30px;
    font-size: 18px;
}
span.text {
	 font-size: 10px;
}
#progressbar li:after {
	    top: 32px;
}
	}

	/*Iphone 6s*/
	
	
	@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px)
and (orientation: portrait)  
   { 
		#progressbar li:before 
		{
			width: 42%;
			line-height: 35px;
			font-size: 26px;
		}
		span.text 
		{
			font-size: 11px;
			margin: 5% 25%;
		}
		#progressbar li:after 
		{
			top: 35px;
		}
	}
	
/*ipad query */


@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
	{
		span.text {
		    margin: 5% 25%;	
			
		}
		#progressbar li:after {
			content: '';
			width: 60%;
			height: 2px;
			background: #ddd;
			position: absolute;
			left: -31%;
			top: 60px;
			z-index: -1;
			font-family: inherit;
		}

	}
	
	/*iphone 4 landscape*/
	@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (orientation: landscape) {
		#progressbar li:before {
			width: 40% !important;
			line-height: 40px !important;
			font-size: 18px;
		}
		span.text {
			font-size: 12px;
		}
		#progressbar li:after {
			top: 38px;
		}
}


     /*iphone 5 landscape*/
	 /* Landscape */
	@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (orientation: landscape) {
	  #progressbar li:before {
		width: 40%;
		line-height: 40px;
		font-size: 18px;
	}
	span.text {
		
	    margin: 5% 22%;	
		font-size: 12px;
	}
	
	#progressbar li:after {
    top: 40px;
}

}





/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (orientation: landscape) { 
		#progressbar li:before {
			content: counter(step);
			counter-increment: step;
			width: 50px;
			line-height: 45px;
			display: block;
			font-size: 30px;
			color: #ddd;
			background: white;
			border-radius: 100px;
			margin: 0 auto 5px auto;
			border: 2px solid #1aada3;
			font-family: inherit;
		}
		span.text {
			position: absolute;
			top: 8%;
			margin: 1% 22%;
			text-align: left;
			font-size: 15px;
			width: 50%;
			color: #ddd;
			font-family: inherit;
		}
		#progressbar li:after {
			content: '';
			width: 65%;
			height: 2px;
			background: #ddd;
			position: absolute;
			left: -31%;
			top: 47px;
			z-index: -1;
			font-family: inherit;
		}
			
	}
	
	
	/* Landscape */
  @media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (orientation: landscape) { 
			#progressbar li:before {
			content: counter(step);
			counter-increment: step;
			width: 50px;
			line-height: 45px;
			display: block;
			font-size: 30px;
			color: #ddd;
			background: white;
			border-radius: 100px;
			margin: 0 auto 5px auto;
			border: 2px solid #1aada3;
			font-family: inherit;
		}
		span.text {
			position: absolute;
			top: 8%;
			margin: 1% 22%;
			text-align: left;
			font-size: 15px;
			width: 48%;
			color: #ddd;
			font-family: inherit;
		}
		#progressbar li:after {
			content: '';
			width: 65%;
			height: 2px;
			background: #ddd;
			position: absolute;
			left: -31%;
			top: 47px;
			z-index: -1;
			font-family: inherit;
		}
  

	}